
input{
     margin-left: 13px;
     width: 100%;
}
.crude-center{
     justify-content: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}
button{
     color: #ffffff;
}
